<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HandsFread: Hands Free Page Scrolling Bookmarklet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


  </head>

  <body>
    <h1>HandsFread: Hands Free Page Scrolling</h1>

    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://handsfread.herokuapp.com/" data-via="kouphax">Tweet</a>



    <div class="container">

      <form class="form-horizontal">
        <fieldset style="float:left; width:200px;">
          <legend>Scroll Values</legend>
          <div class="input-append">
              <input class="span1" size="4" id="interval" type="text" value="100"><span class="add-on">ms</span>
          </div>

          <div class="input-append">
              <input class="span1" size="4" id="increment" type="text"value="1"><span class="add-on">px</span>
          </div>
        </fieldset>
        <div class="style:float:left">
          <div class="row">
            <iframe class="span12" style="height:100px;border:0; margin-bottom:20px;" id="sample" src="@(routes.Application.sample)?interval=100&increment=1" ></iframe>
          <a class="btn" id="preview" href="@(routes.Application.sample)?interval=100&increment=1" target="_blank">
            <i class="icon-share"></i> View in new window
          </a>

          </div>
        </div>
        <h2>How Now?</h2>
        <div>
          <a href="#" class="btn btn-inverse btn-mini" id="bookmarklet">HandsFread</a>, &larr; drag this to you bookmarks bar, or follow the instructions below to customise
        </div>
        <ol style="margin-top:20px">
          <li>Bookmark this page</li>
          <li>Copy the code above (after tinkering with the value until you are happy)</li>
          <li>Edit the bookmark replacing the bookmark url with the code above</li>
          <li>Goto desired page, activate bookmark</li>
          <li>Read hands free!</li>
        </ol>


      </form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script>
      (function(){
        var template = "javascript:setInterval(function(s){scrollBy(0,s||{{increment}})},{{interval}})",
            interval = 100,
            increment = 1,
            sample = document.getElementById("sample"),
            link = document.getElementById("preview"),
            bookmarklet = document.getElementById("bookmarklet");

        $("#interval").change(function(){
          interval = this.value;
          applySettings();
        })

        $("#increment").change(function(){
          increment = this.value;
          applySettings();
        })

        var applySettings = function(){
          setTimeout(function(){
            var href = "@(routes.Application.sample)?interval=" + interval + "&increment=" + increment + "";
            bookmarklet.href = template.replace("{{increment}}", increment).replace("{{interval}}", interval);
            sample.src = link.href = href;
          }, 0)
        }

        applySettings();
      })()
    </script>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19143623-5']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </body>
</html>
